.route-h1 {
  text-align: left;
  font-size: 43px;
}
.modal {
  width: 400px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffe37d9e;
  border-radius: 40px;
}
.modal-h2 {
  text-align: center;
  font-size: 35px;
}
#time-check {
  font-size: 33px;
  background-color: #ffc700;
}
.arrive-box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-box {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-button {
  width: 100px;
  border: none;
  background-color: #ff9100;
  text-decoration: none;
  height: 60px;
  border-radius: 9px;
  /* border: 0.1px solid rgb(27, 27, 27); */
  color: black;
  font-size: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 3px 2px rgba(0, 0, 0, 0.22);
}
