#selected-button:focus {
  background-color: rgb(108, 108, 108);
  border: 1px solid;
}
.main-h2 {
  margin-top: 80px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 43px;
}

.main-span {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 19px;
}
