.fadeout {
  animation: fadeout 3s;
}
.fadein {
  animation: fadein 5s;
  position: fixed;
  top: 30vh;
  left: 30vw;
}

.main-logo {
  width: 500px;
  object-fit: cover;
}
.team-logo {
  width: 100px;
  object-fit: cover;
}

@keyframes fadeout {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
