.fadeout {
  animation: fadeout 3s;
  display: ;
}
.fadein {
  animation: 5s ease 0s normal forwards 1 fadein;
}

.main-logo {
  width: 500px;
  object-fit: cover;
}
.team-logo {
  width: 100px;
  object-fit: cover;
}

@keyframes fadeout {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
