.login-button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button:hover {
  cursor: pointer;
}
.login {
  text-decoration: none;
  width: 400px;
  height: 60px;
  border-radius: 9px;
  /* border: 0.1px solid rgb(27, 27, 27); */
  color: black;
  font-size: 19px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 3px 2px rgba(0, 0, 0, 0.22);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 3px 2px rgba(0, 0, 0, 0.22);
}
#no-login {
  background-color: #fb8500;
}
